#container {
    width: 99.5%;
    border: 1px solid #73AD21;
    margin: 0 0 0px 0px;
    margin-right: 3px;
    margin-top: -10px;
    height: 500px
}


.first {
    width: 50px;
    padding: 50px;
    background-color: grey;
    margin: 50px;
    float: right;
}

.second {
    width: 50px;
    padding: 50px;
    background-color: red;
    margin: 50px;
    float: left;
}

.third {
    width: 50px;
    padding: 50px;
    background-color: blue;
    margin: 50px;
    float: right;
}

.fourth {
    width: 50px;
    padding: 50px;
    background-color: green;
    margin: 50px;
    float: left;
}

.fifth {
    width: 50px;
    padding: 50px;
    background-color: violet;
    margin: 50px;
    float: right;
}

.sixth {
    width: 50px;
    padding: 50px;
    background-color: yellow;
    margin: 50px;
    float: left;
}

.seventh {
    width: 50px;
    padding: 50px;
    background-color: black;
    margin: 50px;
    float: right;
}

.eighth {
    width: 50px;
    padding: 50px;
    background-color: salmon;
    margin: 50px;
    float: left;
}

.nineth {
    width: 50px;
    padding: 50px;
    background-color: indigo;
    margin: 50px;
    float: right;
}

.tenth {
    width: 50px;
    padding: 50px;
    background-color: cadetblue;
    margin: 50px;
    float: left;
}

